---
import { AspectRatio } from "@radix-ui/react-aspect-ratio";

interface Props {
  src: string;
  title: string;
  ratio?: number;
  [key: string]: any;
}

const { src, title, ratio, ...props } = Astro.props;
---

<a
  href={src}
  target="_blank"
  rel="noopener nofollow"
  class="block no-underline"
>
  <figure class="flex flex-col justify-center gap-1">
    <AspectRatio
      ratio={ratio || 1.777 / 1}
      className="w-full rounded-lg overflow-hidden border border-primary"
      client:visible
    >
      <video
        controls={false}
        playsinline
        autoplay
        muted
        loop
        preload="metadata"
        aria-label={title}
        {...props}
        class="absolute inset-0 w-full h-full object-fit object-cover !m-0"
      >
        <source src={src} type="video/mp4" />
      </video>
    </AspectRatio>
    <figcaption class="text-center text-sm text-secondary">
      {title}
    </figcaption>
  </figure>
</a>
