---
import { isBefore, isEqual } from "date-fns";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Timeline from "@/components/Timeline.astro";
import PostIcon from "@/components/PostIcon.astro";
import { filterPosts } from "@/lib/utils";
import { Motion, useMotionVariants } from "@/components/Motion";

type PostTypes = 'post' | 'case-study' | 'demo' | 'photos' | 'project';

interface MetaContent {
  title: string;
  description: string;
}

// Get the category ID from the URL parameters
const { id } = Astro.params;

if (!id) {
  return Astro.redirect('/404');
}

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  const allValidPosts = filterPosts(allPosts);

  const uniqueCategories = allValidPosts
    .map(post => post.data.type)
    .filter((type, index, array) => array.indexOf(type) === index);

  return uniqueCategories.map(category => ({
    params: { id: category },
    props: {
      posts: allValidPosts.filter(post => post.data.type === category)
    }
  }));
}

const { posts } = Astro.props;

const META: Record<PostTypes, MetaContent> = {
  "post": {
    title: "Posts",
    description: "Thoughts, ideas, and ramblings on design"
  },
  "case-study": {
    title: "Studies",
    description: "In-depth studies of products I've worked on"
  },
  "demo": {
    title: "Demos",
    description: "Interactive prototypes and hand-crafted examples "
  },
  "photos": {
    title: "Photos",
    description: "Photo journal from my travels"
  },
  "project": {
    title: "Projects",
    description: "Side and personal projects I've shipped"
  }
}

const fadeInUp = useMotionVariants("fadeInUp");

---

<Layout>
  <Motion {...fadeInUp} client:load>
    <header class="flex flex-col gap-4 lg:items-center lg:flex-row">
      <PostIcon type={id} className="lg:size-10 lg:rounded-lg" />
      <div class="flex flex-col">
        <h1 class="text-base font-medium text-primary">{META[id].title}</h1>
        <p class="text-secondary text-sm">{META[id].description}</p>
      </div>
    </header>
  </Motion>
  <section class="flex flex-col gap-2 py-6 lg:py-12">
    <Timeline posts={posts} showRail={false} />
  </section>
</Layout>
