---
import { BackArrow } from "@/components/BackArrow";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { SEO_TITLE, SEO_DESCRIPTION } from "@/lib/constants";

import "@/styles/globals.css";

interface Props {
  title?: string;
  description?: string;
  og?: string;
  noIndex?: boolean;
  canonical?: string;
}

const {
  title = SEO_TITLE,
  description = SEO_DESCRIPTION,
  og,
  noIndex,
  canonical,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="https://heymynameisrob.com" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta property="og:site_name" content={title} />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="https://heymynameisrob.com" />
    <meta property="og:type" content="page" />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={`https://heymynameisrob.com/og-image.png`}
    />
    <meta name="twitter:card" content="summary_large_image" />
    {canonical && <link rel="canonical" href={canonical} />}
    {noIndex && <meta name="robots" content="noindex, nofollow" />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <main
      class="relative text-primary font-sans overscroll-none min-h-screen tracking-normal antialiased"
    >
      <slot />
      <!-- <footer class="flex items-baseline justify-center gap-2">
        <small>&copy; 2025 heymynameisrob</small>
        <a class="text-sm text-gray-10 underline" href="/now">/now</a>
        <a class="text-sm text-gray-10 underline" href="/yep">/yep</a>
        <a class="text-sm text-gray-10 underline" href="/nope">/nope</a>
        <a
          class="text-sm text-gray-10 underline"
          href="https://github.com/heymynameisrob/website-25">Source code</a
        >
      </footer> -->
    </main>
  </body>
</html>
