---
import Layout from "@/layouts/Layout.astro";
import Prose from "@/components/Prose.astro";

import { ClockIcon } from "@heroicons/react/16/solid";

import { fromNow } from "@/lib/utils";
import type {PostFrontmatter} from "@/content.config";

interface Props {
  frontmatter: PostFrontmatter & {
    og?: string;
  }
}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} - @heymynameisrob`}
  description={frontmatter.description}
  og={frontmatter.og}
  canonical={frontmatter.canonical}
>
  <div class="flex flex-col gap-4 pb-12 lg:gap-8">
    <header class="flex flex-col gap-2">
      <h1 class="mb-0 text-primary font-medium text-base">{frontmatter.title}</h1>
      <small class="font-mono font-medium text-sm text-gray-8 uppercase">Last updated {fromNow(frontmatter.date, true)}</small>
    </header>
    <Prose>
      <slot />
    </Prose>
  </div>
</Layout>
