---
import Layout from "@/layouts/Layout.astro";
import Prose from "@/components/Prose.astro";

import { ClockIcon } from "@heroicons/react/16/solid";

import { fromNow } from "@/lib/utils";
import type {PostFrontmatter} from "@/content.config";

interface Props {
  frontmatter: PostFrontmatter & {
    og?: string;
  }
}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} - @heymynameisrob`}
  description={frontmatter.description}
  og={frontmatter.og}
>
  <div class="pb-12">
    <Prose>
      <h1>{frontmatter.title}</h1>
      <slot />
      <time
        class="text-sm inline-flex items-center gap-1.5 text-secondary px-2 h-7 rounded-full bg-gray-2 border shadow cursor-default select-none"
      >
        <ClockIcon className="w-4 h-4 opacity-50" client:load />
        Last updated {fromNow(frontmatter.date, true)}
      </time>
    </Prose>
  </div>
</Layout>
