---
import Navbar from "@/components/Navbar.astro";
import Prose from "@/components/Prose.astro";
import Layout from "@/layouts/Layout.astro";

import type { PostFrontmatter } from "@/content.config";

interface Props {
  frontmatter: PostFrontmatter & {
    og?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} - @heymynameisrob`}
  description={frontmatter.description}
  og={frontmatter.og}
  canonical={frontmatter.canonical}
>
  <Navbar />
  <div
    class="max-w-3xl mx-auto px-5 flex flex-col justify-center items-center gap-16 pb-16 pt-16 lg:pt-24 lg:gap-24"
  >
    <header class="flex flex-col justify-center items-center text-center">
      <h1
        class="text-2xl font-serif tracking-tight lg:text-3xl lg:text-balance xl:text-4xl"
      >
        {frontmatter.title}
      </h1>
      <h2
        class="text-2xl font-serif tracking-tight lg:text-3xl lg:text-balance text-gray-10 xl:text-4xl"
      >
        {frontmatter.description}
      </h2>
    </header>
    <div class="not-prose flex w-full items-center justify-center gap-1">
      <div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
        class="h-0.5 w-8 rounded-full bg-gray-4"
      >
      </div><div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
        class="h-0.5 w-8 rounded-full bg-gray-4"
      >
      </div><div class="h-0.5 w-8 rounded-full bg-gray-4"></div><div
        class="h-0.5 w-8 rounded-full bg-gray-4"
      >
      </div>
    </div>
    <Prose><slot /></Prose>
  </div>
</Layout>
